<ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Profile</h1>
            <div class="buttons">
                <button class="button button-clear icon ion-close" ng-click="home.closeModal()">Close</button>
            </div>
        </ion-header-bar>
    
        <ion-content>
            <div class="item item-body">
                <h2>{{home.info.name}}</h2>
                <p>{{home.info.age}}</p>
                <p>{{home.info.location}}</p>
            </div>
        </ion-content>
    </ion-modal-view>